[user]
	name = adgai19
	email = gaitondeaditya@gmail.com
[core]
	editor = nvim
[credential]
	helper = store
[merge]
	tool = vimdiff3
[mergetool]
	path = nvim
[diff]
	tool = vimdiff3
[difftool "vimdiff3"]
	path = nvim
